ask-sdk==1.19.0
ask-sdk-core==1.19.0
ask-sdk-dynamodb-persistence-adapter==1.19.0
ask-sdk-model==1.82.0
ask-sdk-runtime==1.19.0
beautifulsoup4==4.12.3
Flask>=3.0,<4.0
gunicorn==23.0.0
logtail-python==0.3.3
parse==1.20.2
pip==25.0.1
pytz==2024.2
Requests==2.32.4
ParsePy==0.3.20150629